CREATE TABLE realState (
    id INT IDENTITY(1,1) PRIMARY KEY,
    SalePrice nvarchar(255),
    YearBuilt float,
    YrSold float,
    MonthSold float,
    Size_sqf float,
    Floor float,
    HallwayType VARCHAR(50),
    HeatingType VARCHAR(50),
    AptManageType VARCHAR(50),
    TimeToBusStop VARCHAR(20),
    TimeToSubway VARCHAR(20),
    N_APT float,
    N_manager float,
    SubwayStation VARCHAR(50),
    N_FacilitiesNearBy_PublicOffice float,
    N_FacilitiesNearBy_Hospital float,
    N_FacilitiesNearBy_Departmentstore float,
    N_FacilitiesNearBy_Mall float,
    N_FacilitiesNearBy_ETC float,
    N_FacilitiesNearBy_Park float,
    N_SchoolNearBy_Elementary float,
    N_SchoolNearBy_Middle float,
    N_SchoolNearBy_High float,
    N_SchoolNearBy_University float,
    N_FacilitiesInApt float,
    N_FacilitiesNearBy_Total float,
    N_SchoolNearBy_Total float
)
GO

CREATE TABLE realStateCleaned(
    id INT PRIMARY KEY,
    SalePrice nvarchar(255),
    YearBuilt float,
    YrSold float,
    MonthSold float,
    Size_sqf float,
    Floor float,
    HallwayType VARCHAR(50),
    HeatingType VARCHAR(50),
    AptManageType VARCHAR(50),
    TimeToBusStop VARCHAR(20),
    TimeToSubway VARCHAR(20),
    N_APT float,
    N_manager float,
    SubwayStation VARCHAR(50),
    N_FacilitiesNearBy_PublicOffice float,
    N_FacilitiesNearBy_Hospital float,
    N_FacilitiesNearBy_Departmentstore float,
    N_FacilitiesNearBy_Mall float,
    N_FacilitiesNearBy_ETC float,
    N_FacilitiesNearBy_Park float,
    N_SchoolNearBy_Elementary float,
    N_SchoolNearBy_Middle float,
    N_SchoolNearBy_High float,
    N_SchoolNearBy_University float,
    N_FacilitiesInApt float,
    N_FacilitiesNearBy_Total float,
    N_SchoolNearBy_Total float
)
GO

-- Tablas dimensiones
CREATE TABLE DimTiempo (
    id INT PRIMARY KEY,
    YearBuilt FLOAT,
    YrSold FLOAT,
    MonthSold FLOAT
)
GO

CREATE TABLE DimUbicacion (
    id INT PRIMARY KEY,
    TimeToBusStop VARCHAR(20),
    TimeToSubway VARCHAR(20),
    SubwayStation VARCHAR(50)
)
GO

CREATE TABLE DimTamaño (
    id INT PRIMARY KEY,
    Size_sqf FLOAT,
    Floor FLOAT
)
GO

CREATE TABLE DimFacilidades (
    id INT PRIMARY KEY,
    N_FacilitiesNearBy_PublicOffice FLOAT,
    N_FacilitiesNearBy_Hospital FLOAT,
    N_FacilitiesNearBy_Departmentstore FLOAT,
    N_FacilitiesNearBy_Mall FLOAT,
    N_FacilitiesNearBy_ETC FLOAT,
    N_FacilitiesNearBy_Park FLOAT,
    N_SchoolNearBy_Elementary FLOAT,
    N_SchoolNearBy_Middle FLOAT,
    N_SchoolNearBy_High FLOAT,
    N_SchoolNearBy_University FLOAT,
    N_FacilitiesInApt FLOAT,
    N_FacilitiesNearBy_Total FLOAT,
    N_SchoolNearBy_Total FLOAT
)
GO

CREATE TABLE DimVenta (
    id INT PRIMARY KEY,
    SalePrice NVARCHAR(255)
)
GO

-- Tabla de hechos
CREATE TABLE HechosVentas (
    id INT PRIMARY KEY,
    VentaId INT,
    TiempoId INT,
    UbicacionId INT,
    TamañoId INT,
    FacilidadesId INT,
    VentaPromedio FLOAT,
    NumPropiedadesVendidas INT,
    FOREIGN KEY (VentaId) REFERENCES DimVenta(id),
    FOREIGN KEY (TiempoId) REFERENCES DimTiempo(id),
    FOREIGN KEY (UbicacionId) REFERENCES DimUbicacion(id),
    FOREIGN KEY (TamañoId) REFERENCES DimTamaño(id),
    FOREIGN KEY (FacilidadesId) REFERENCES DimFacilidades(id)
)
GO
-----------------------------------------------------------------------------------------------------------
-- ETL
CREATE PROCEDURE FilterRealEstateData
AS
BEGIN
    SET NOCOUNT ON;

    -- Crear una tabla temporal para almacenar los datos filtrados y únicos
    CREATE TABLE #FilteredRealEstate (
        id INT PRIMARY KEY,
		SalePrice nvarchar(255),
		YearBuilt float,
		YrSold float,
		MonthSold float,
		Size_sqf float,
		Floor float,
		HallwayType VARCHAR(50),
		HeatingType VARCHAR(50),
		AptManageType VARCHAR(50),
		TimeToBusStop VARCHAR(20),
		TimeToSubway VARCHAR(20),
		N_APT float,
		N_manager float,
		SubwayStation VARCHAR(50),
		N_FacilitiesNearBy_PublicOffice float,
		N_FacilitiesNearBy_Hospital float,
		N_FacilitiesNearBy_Departmentstore float,
		N_FacilitiesNearBy_Mall float,
		N_FacilitiesNearBy_ETC float,
		N_FacilitiesNearBy_Park float,
		N_SchoolNearBy_Elementary float,
		N_SchoolNearBy_Middle float,
		N_SchoolNearBy_High float,
		N_SchoolNearBy_University float,
		N_FacilitiesInApt float,
		N_FacilitiesNearBy_Total float,
		N_SchoolNearBy_Total float
    );

    -- Insertar datos filtrados y únicos en la tabla temporal
    INSERT INTO #FilteredRealEstate
    SELECT DISTINCT
        r.id,
        r.SalePrice,
        r.YearBuilt,
        r.YrSold,
        r.MonthSold,
        r.[Size_sqf],
        r.Floor,
        r.HallwayType,
        r.HeatingType,
        r.AptManageType,
        r.TimeToBusStop,
        r.TimeToSubway,
        r.N_APT,
        r.N_manager,
        r.SubwayStation,
        r.N_FacilitiesNearBy_PublicOffice,
        r.N_FacilitiesNearBy_Hospital,
        r.N_FacilitiesNearBy_Departmentstore,
        r.N_FacilitiesNearBy_Mall,
        r.N_FacilitiesNearBy_ETC,
        r.N_FacilitiesNearBy_Park,
        r.N_SchoolNearBy_Elementary,
        r.N_SchoolNearBy_Middle,
        r.N_SchoolNearBy_High,
        r.N_SchoolNearBy_University,
        r.N_FacilitiesInApt,
        r.N_FacilitiesNearBy_Total,
        r.N_SchoolNearBy_Total
    FROM realState r
    WHERE r.YearBuilt >= 2000;

    -- Seleccionar los datos de la tabla temporal
    SELECT *
    FROM #FilteredRealEstate;

	-- Eliminar los datos actuales de la tabla realState
    DELETE FROM realStateCleaned;

    -- Insertar los datos filtrados de la tabla temporal en realState
    INSERT INTO realStateCleaned
    SELECT *
    FROM #FilteredRealEstate;

    -- Eliminar la tabla temporal
    DROP TABLE #FilteredRealEstate;
END;

EXEC FilterRealEstateData;


-- Contar datos con YearBuilt menor a 2000
SELECT COUNT(*) AS CountLessThan2000
FROM realState
WHERE YearBuilt < 2000;

-- Contar datos repetidos en la tabla realState
SELECT COUNT(*) AS CountDuplicates
FROM (
    SELECT id
    FROM realState
    GROUP BY id
    HAVING COUNT(*) > 1
) AS Duplicates;


--Cargar cubo olap

DELETE FROM HechosVentas
Go
DELETE FROM DimTiempo
Go
DELETE FROM DimUbicacion
Go
DELETE FROM DimTamaño
Go
DELETE FROM DimFacilidades
Go
DELETE FROM DimVenta
Go

CREATE PROCEDURE cargarCuboOlap
AS
BEGIN
    SET NOCOUNT ON;
    -- Llenar las tablas de dimensiones
    INSERT INTO DimTiempo (id, YearBuilt, YrSold, MonthSold)
    SELECT id, YearBuilt, YrSold, MonthSold
    FROM realStateCleaned;

    -- DimUbicacion
    INSERT INTO DimUbicacion (id, TimeToBusStop, TimeToSubway, SubwayStation)
    SELECT id, TimeToBusStop, TimeToSubway, SubwayStation
    FROM realStateCleaned;

    -- DimTamaño
    INSERT INTO DimTamaño (id, Size_sqf, Floor)
    SELECT id, Size_sqf, Floor
    FROM realStateCleaned;

    -- DimFacilidades
    INSERT INTO DimFacilidades (id, N_FacilitiesNearBy_PublicOffice, N_FacilitiesNearBy_Hospital, N_FacilitiesNearBy_Departmentstore, N_FacilitiesNearBy_Mall, N_FacilitiesNearBy_ETC, N_FacilitiesNearBy_Park, N_SchoolNearBy_Elementary, N_SchoolNearBy_Middle, N_SchoolNearBy_High, N_SchoolNearBy_University, N_FacilitiesInApt, N_FacilitiesNearBy_Total, N_SchoolNearBy_Total)
    SELECT id, N_FacilitiesNearBy_PublicOffice, N_FacilitiesNearBy_Hospital, N_FacilitiesNearBy_Departmentstore, N_FacilitiesNearBy_Mall, N_FacilitiesNearBy_ETC, N_FacilitiesNearBy_Park, N_SchoolNearBy_Elementary, N_SchoolNearBy_Middle, N_SchoolNearBy_High, N_SchoolNearBy_University, N_FacilitiesInApt, N_FacilitiesNearBy_Total, N_SchoolNearBy_Total
    FROM realStateCleaned;

    -- DimVenta
    INSERT INTO DimVenta (id, SalePrice)
    SELECT id, SalePrice
    FROM realStateCleaned;

    -- Llenar la tabla de hechos
    INSERT INTO HechosVentas (id, VentaId, TiempoId, UbicacionId, TamañoId, FacilidadesId, VentaPromedio, NumPropiedadesVendidas)
    SELECT rc.id, rc.id, dt.id, du.id, ds.id, df.id, CAST(REPLACE(REPLACE(REPLACE(rc.SalePrice, '$', ''), ' ', ''), ',', '') AS FLOAT), 1
    FROM realStateCleaned rc
    JOIN DimTiempo dt ON rc.id = dt.id
    JOIN DimUbicacion du ON rc.id = du.id
    JOIN DimTamaño ds ON rc.id = ds.id
    JOIN DimFacilidades df ON rc.id = df.id;

END;

EXEC cargarCuboOlap;

SELECT
    hv.id AS HechosId,
    hv.VentaId,
    dt.YearBuilt,
    dt.YrSold,
    dt.MonthSold,
    du.TimeToBusStop,
    du.TimeToSubway,
    du.SubwayStation,
    ds.Size_sqf,
    ds.Floor,
    df.N_FacilitiesNearBy_PublicOffice,
    df.N_FacilitiesNearBy_Hospital,
    df.N_FacilitiesNearBy_Departmentstore,
    df.N_FacilitiesNearBy_Mall,
    df.N_FacilitiesNearBy_ETC,
    df.N_FacilitiesNearBy_Park,
    df.N_SchoolNearBy_Elementary,
    df.N_SchoolNearBy_Middle,
    df.N_SchoolNearBy_High,
    df.N_SchoolNearBy_University,
    hv.VentaPromedio,
    hv.NumPropiedadesVendidas
FROM HechosVentas hv
JOIN DimTiempo dt ON hv.TiempoId = dt.id
JOIN DimUbicacion du ON hv.UbicacionId = du.id
JOIN DimTamaño ds ON hv.TamañoId = ds.id
JOIN DimFacilidades df ON hv.FacilidadesId = df.id;


-----------------------------------------
-- Precio por tipo
SELECT dv.id, dv.VentaPromedio, dtv.SalePrice
FROM dbo.HechosVentas dv
INNER JOIN dbo.DimVenta dtv ON dv.VentaId = dtv.id;

-- Precio por año de construcción
SELECT
    dt.YearBuilt,
    AVG(CONVERT(DECIMAL(18, 2), REPLACE(REPLACE(REPLACE(dtv.SalePrice, '$', ''), ' ', ''), ',', '.'))) AS PrecioPromedio
FROM dbo.DimTiempo dt
INNER JOIN dbo.HechosVentas dv ON dt.id = dv.TiempoId
INNER JOIN dbo.DimVenta dtv ON dv.VentaId = dtv.id
GROUP BY dt.YearBuilt;

-- Precio por total de ubicaciones cerca
SELECT
    df.N_FacilitiesNearBy_Total,
    AVG(CONVERT(DECIMAL(18, 2), REPLACE(REPLACE(REPLACE(dtv.SalePrice, '$', ''), ' ', ''), ',', '.'))) AS PrecioPromedio
FROM dbo.DimFacilidades df
INNER JOIN dbo.HechosVentas dv ON df.id = dv.FacilidadesId
INNER JOIN dbo.DimVenta dtv ON dv.VentaId = dtv.id
GROUP BY df.N_FacilitiesNearBy_Total;

-- Precio por estación de metro cercana
SELECT
    du.SubwayStation,
    AVG(CONVERT(DECIMAL(18, 2), REPLACE(REPLACE(REPLACE(dtv.SalePrice, '$', ''), ' ', ''), ',', '.'))) AS PrecioPromedio
FROM dbo.DimUbicacion du
INNER JOIN dbo.HechosVentas dv ON du.id = dv.UbicacionId
INNER JOIN dbo.DimVenta dtv ON dv.VentaId = dtv.id
GROUP BY du.SubwayStation;


-- Ventas por año de construcción
SELECT dt.YearBuilt, SUM(dv.NumPropiedadesVendidas) AS TotalVentas
FROM dbo.DimTiempo dt
INNER JOIN dbo.HechosVentas dv ON dt.id = dv.TiempoId
GROUP BY dt.YearBuilt;

-- Ventas por mes
SELECT dt.MonthSold, SUM(dv.NumPropiedadesVendidas) AS TotalVentas
FROM dbo.DimTiempo dt
INNER JOIN dbo.HechosVentas dv ON dt.id = dv.TiempoId
GROUP BY dt.MonthSold;

-- Ventas por piso
SELECT dt.Size_sqf, dt.Floor, SUM(dv.NumPropiedadesVendidas) AS TotalVentas
FROM dbo.DimTamaño dt
INNER JOIN dbo.HechosVentas dv ON dt.id = dv.TamañoId
GROUP BY dt.Size_sqf, dt.Floor;

-- Ventas por tipo de pasillo
SELECT df.N_FacilitiesInApt, SUM(dv.NumPropiedadesVendidas) AS TotalVentas
FROM dbo.DimFacilidades df
INNER JOIN dbo.HechosVentas dv ON df.id = dv.FacilidadesId
GROUP BY df.N_FacilitiesInApt;

-- Ventas por estación de metro cercana
SELECT du.SubwayStation, SUM(dv.NumPropiedadesVendidas) AS TotalVentas
FROM dbo.DimUbicacion du
INNER JOIN dbo.HechosVentas dv ON du.id = dv.UbicacionId
GROUP BY du.SubwayStation;

-- Ventas por tamaño
SELECT dt.Size_sqf, SUM(dv.NumPropiedadesVendidas) AS TotalVentas
FROM dbo.DimTamaño dt
INNER JOIN dbo.HechosVentas dv ON dt.id = dv.TamañoId
GROUP BY dt.Size_sqf;

-- Tipo de pasillo más frecuente
SELECT TOP 1 df.N_FacilitiesInApt, COUNT(*) AS Frecuencia
FROM dbo.DimFacilidades df
INNER JOIN dbo.HechosVentas dv ON df.id = dv.FacilidadesId
GROUP BY df.N_FacilitiesInApt
ORDER BY Frecuencia DESC;


SELECT * FROM DimVenta