{% extends 'layout/base.html' %}

{% block title %} Home {% endblock %}

{% block content_section %}
<section id="hero" class="hero d-flex flex-column justify-content-center align-items-center" data-aos="fade" data-aos-delay="1500">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 text-center">
        <h2><span></span></h2>
        <p>Blanditiis praesentium aliquam illum tempore incidunt debitis dolorem magni est deserunt sed qui libero. Qui voluptas amet.</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block content_body %}
{% endblock %}

{% block content_scritps %}
{% endblock %}